<div class="mb-4 fs-6 fw-light text-decoration-underline">
  Ajouter un Employés :
</div>
<form
  #formValue="ngForm"
  [formGroup]="myForm"
  (ngSubmit)="createEmployee(formValue.value)"
>
  <mat-form-field appearance="fill">
    <label for="first-name">Prénom*</label>
    <input matInput type="text" formControlName="name" id="name" name="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label for="last-name">Nom de Famille*</label>
    <input
      matInput
      type="text"
      formControlName="last_name"
      id="last_name"
      name="last_name"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label for="job_title">Emploi*</label>
    <input
      matInput
      type="text"
      formControlName="job_title"
      id="job_title"
      name="job_title"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label for="email">E-mail*</label>
    <input
      matInput
      type="email"
      formControlName="email"
      id="email"
      name="email"
    />
  </mat-form-field>
  <p>
    Remplir le formulaire correctement <br />
    pour activer le boutton d'envoi.
  </p>
  <span class="text-info">{{ this.success }}</span>
  <div class="d-flex gap-3">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!myForm.valid"
    >
      <mat-icon>send</mat-icon>
    </button>
    <button type="button" mat-raised-button color="warn" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</form>
