<button class="m-4" mat-raised-button color="basic" (click)="openDialog()">
  <mat-icon>person_add</mat-icon> Employés
</button>

<button class="m-4" mat-raised-button color="basic" (click)="ngOnInit()">
  <mat-icon>refresh</mat-icon>
</button>
<br />
<h1 class="badge text-bg-primary m-4">Liste Des Employés</h1>
<table class="table-borderless m-4">
  <thead>
    <tr>
      <th scope="col" class="fs-6 fw-bold mb-5" style="width: 14em">Prénom</th>
      <th scope="col" class="fs-6 fw-bold mb-5" style="width: 14em">
        Nom De Famille
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor="let items of service.employees">
      <td class="text-capitalize">{{ items.name }}</td>
      <td class="text-uppercase">{{ items.last_name }}</td>
      <td class="d-flex gap-2">
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="confirmSuppresion(items.id)"
        >
          <mat-icon>person_remove</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="editEmployee(items)"
        >
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
