<div class="mb-4 fs-6 fw-light text-decoration-underline">
  Informations sur L'employé selectionné :
</div>
<form
  #formValue="ngForm"
  [formGroup]="editForm"
  (ngSubmit)="editEmployee(formValue.value)"
>
  <mat-form-field appearance="fill">
    <label class="mb-3 fw-bold" for="first-name">Prénom</label>
    <input
      matInput
      type="text"
      formControlName="name"
      id="name"
      name="name"
      value="{{ this.data.employee.name }}"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label class="mb-3 fw-bold" for="last-name">Nom de Famille</label>
    <input
      matInput
      type="text"
      formControlName="last_name"
      id="last_name"
      name="last_name"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label class="mb-3 fw-bold" for="job_title">Emploi</label>
    <input
      matInput
      type="text"
      formControlName="job_title"
      id="job_title"
      name="job_title"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label class="mb-3 fw-bold" for="email">E-mail</label>
    <input
      matInput
      type="email"
      formControlName="email"
      id="email"
      name="email"
    />
  </mat-form-field>
  <p class="text-info">
    Vous pouvez modifier les informations et appuyer sur le bouttons pour
    valider les changements
  </p>
  <button
    class="mb-2"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!editForm.valid"
  >
    <mat-icon>send</mat-icon>
  </button>
</form>
